{% extends 'base/base.html' %}

{% block titulo %}
	Listando Jogos
{% endblock %}

{% block usuario %}
	{{user.get_username}}
{% endblock %}


{% block content %}
<div class="row">

	<h4 class="center-align">Aguardando Minha Resposta</h4>

<div class="col s10 offset-s1 ">
	<table class="bordered responsive-table">
		<thead>
			<tr>
				<td ><p><b>Nome do Jogo</b></p></td>
				<td ><p><b>Solicitante</b></p></td>
				<td ><p><b>Solicitado</b></p></td>
				<td ><p><b><h6 class="center">Ações</h6></p></b></td>
			</tr>
		</thead>
		<tbody>
		{% if object_list %}
		{% for solicitacao in object_list %}
			<tr>
				<td class="meuid">{{solicitacao.jogo_solicitado.nome}}</td>
				<td class="meuid">{{solicitacao.solicitante}}</td>
				<td class="meuid">{{solicitacao.solicitado}}</td>
				<td class="center">
				   <a class="btn red" href="{% url 'solicitacao:recusar'%}?solicit={{solicitacao.id}}"><i class="material-icons right">delete</i>Recusar</a>
				   <!-- <a class="btn blue" href="#"><i class="material-icons">border_color</i> trocar</a> -->
					 <a  href="{% url 'jogo:jogo_troca'%}?solici={{solicitacao.id}}" method="get" class="btn  light-green accent-4"><i class="material-icons right">shuffle</i>trocar</a>
				</td>

			</tr>
			{% endfor %}
			{% else %}
			<h2>Não há registros de Solicitações</h2>

			{% endif %}
		</tbody>
	</table>

</div>
<div class="fixed-action-btn horizontal">
	<a title="historico" class="btn-floating btn-large orange" href="{% url 'solicitacao:solicitar_historico' %}">
		<i class="material-icons">history</i>
	</a>
</div>
</div>



{% endblock %}
