{% extends 'base/base.html' %}

{% block titulo %}
	Listando Jogos
{% endblock %}

{% block usuario %}
	{{user.get_username}}
{% endblock %}


{% block content %}
<div class="row">

	<h4 class="center-align">Minhas Solicitações Aguardando Respostas</h4>

<div class="col s10 offset-s1 ">
	<table class="bordered responsive-table">
		<thead>
			<tr>
				<td ><p><b>Nome do Jogo</b></p></td>
				<td ><p><b>Plataforma</b></p></td>
				<td ><p><b>Solicitado</b></p></td>
				<td ><p><b><h6 class="center">Ações</h6></p></b></td>
			</tr>
		</thead>
		<tbody>
		{% if object_list %}
		{% for solicitacao in object_list %}
			<tr>
				<td class="meuid">{{solicitacao.jogo_solicitado.nome}}</td>
				<td class="meuid">{{solicitacao.jogo_solicitado.plataforma}}</td>
				<td class="meuid">{{solicitacao.solicitado}}</td>
				<td class="center">

				   <a title="Excluir solicitação" class="btn red" href="{% url 'solicitacao:solicitar_deletar' solicitacao.id %}"><i class="material-icons">delete</i> </a>
				</td>

			</tr>
			{% endfor %}
			{% else %}
			<h2>Não há registros de Solicitações</h2>

			{% endif %}
		</tbody>
	</table>


	<div class="fixed-action-btn horizontal">
		<a title="historico" class="btn-floating btn-large orange" href="{% url 'solicitacao:solicitar_historico' %}">
			<i class="material-icons">history</i>
		</a>
	</div>
</div>

</div>



{% endblock %}
