{% extends 'base/base.html' %}

{% block titulo %}
	Listando Jogos
{% endblock %}

{% block usuario %}
	{{user.get_username}}
{% endblock %}


{% block content %}
<div class="row">

	<h4 class="center-align">Solicitações {{user.get_username}}</h4>

<div class="col s10 offset-s1 ">
	<table class="bordered responsive-table">
		<thead>
			<tr>
				<td ><p><b>Nome do Jogo</b></p></td>
				<td ><p><b>Solicitante</b></p></td>
				<td ><p><b>Solicitado</b></p></td>
				<td ><p><b><h6 class="center">Ações</h6></p></b></td>
			</tr>
		</thead>
		<tbody>
		{% if object_list %}
		{% for solicitacao in object_list %}
			<tr>
				<td class="meuid">{{solicitacao.jogo}}</td>
				<td class="meuid">{{solicitacao.solicitante}}</td>
				<td class="meuid">{{solicitacao.solicitado}}</td>
				<td class="center">
				   <a class="btn red" href="#"><i class="material-icons">delete</i></a>
				   <a class="btn blue" href="#"><i class="material-icons">border_color</i></a>
				</td>

			</tr>
			{% endfor %}
			{% else %}
			<h2>Não há registros de Solicitações</h2>

			{% endif %}
		</tbody>
	</table>

</div>

</div>



{% endblock %}
