{% extends 'base/base.html' %}
{% load staticfiles %}

{% block titulo %}
	Index
{% endblock %}

{% block usuario %}
	{{user.get_username}}
{% endblock %}

{% block busca %}
{% endblock %}


{% block content %}
<div class="row">

	<h4 class="center-align">Bem vindo {{user.get_username}}</h4>

<div class="col s10 offset-s1 ">
	<table class="bordered responsive-table">
		<thead>
			<tr>
				<td ><p><b>Nome do Jogo</b></p></td>
				<td ><p><b>Categoria</b></p></td>
				<td ><p><b>Plataforma</b></p></td>
				<td ><p><b><h6 class="center">Ações</h6></p></b></td>
			</tr>
		</thead>
		<tbody>
		{% if object_list %}
		{% for jogo in object_list %}
			<tr>
				<td class="meuid">
					{% if jogo.image %}
						<img src="{{ jogo.image.url }}" class="demo-avatar">
					{% else %}
						<img src="{% static 'img/image.png' %}" class="demo-avatar">
					{% endif %}
					{{jogo.nome}}
				</td>
				<td class="meuid">{{jogo.categoria}}</td>
				<td class="meuid">{{jogo.plataforma.nome}}</td>
				<td class="center">
				   <a title="Editar" class="btn green accent-3" href="{% url 'jogo:jogo_editar' jogo.id %}"><i class="material-icons">border_color</i></a>
					 {% if jogo.solicitado %}
					 <a title="jogo solicitado" class="btn orange"><i class="material-icons">delete</i></a>
					 {% else %}
					 <a title="Excluir" class="btn red" href="{% url 'jogo:jogo_deletar' jogo.id %}"><i class="material-icons">delete</i></a>
					 {% endif %}
					 <a title="Ver" class="btn blue" href="{% url 'jogo:jogo_ver_atual' jogo.id %}"><i class="material-icons">visibility</i></a>
				</td>
				</td>
			</tr>
			{% endfor %}
			{% else %}
			<h2>Não há registros de jogos</h2>

			{% endif %}
		</tbody>
	</table>


</div>

<div class="fixed-action-btn">
	<a href="{% url 'jogo:jogo_criar' %}" class="btn-floating btn-large   light-green accent-4">
		<i class="large material-icons">add</i>
	</a>
</div>
</div>


{% endblock %}
