
{% extends 'base/base.html' %}

{% block titulo %}
	Index
{% endblock %}

{% block extrastatic %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="row log">
  <div class="col s6 offset-s3 card grey lighten-2">
		<form method="post">
	{% csrf_token %}

	<div class="container">
    <div class="row logclass">

            <h5 class="center-align "><b>Bem Vindo</b></h5>

						<div class="row">
        			<div class="input-field ">
								<i class="material-icons prefix">account_circle</i>
								<input  name="username" type="text" class="validate" required="true">
	          		<label for="username">Nome</label>
							</div>
						</div>

						<div class="row">
        			<div class="input-field">
								<i class="material-icons prefix">lock</i>
								<input name="password" type="password" class="validate" required="true">
	          		<label for="password">Senha</label>
							</div>
						</div>

						<div class="row">
        			<div class="input-field">
								<div class="offset-s1">

									<button class="btn  green darken-2 col s10 l5" type="submit" name="Entrar">Entrar<i class="material-icons right">check_circle</i></button>
									<div class="col l1"></div>
									<a class="btn col s10 l6" href="{% url 'usuario:usuario_criar' %}">Cadastrar-se<i class="material-icons right">queue</i></a>

								</div>
							</div>
						</div>
					<p>
						<a href="#">Esqueci Minha Senha</a>
					</p>

    </div>
</div>



</form>
</div>
</div>
{% endblock %}
