.meuid{
  font-family: "Times New Roman";
  font-size: 25px;
}

.tam{
  font-size: 25px;
}

.cor{
  color: #311b92;
  font-family: "Times New Roman";
}
.tam2{
  font-size: 20px;
  color: #311b92;
  font-weight: bold;
}

.buscando{
  font-size: 20px;
  font-weight: bold;
  color: orange;
}
.log{
  margin-top: 50px;
}

.espaco{
  margin-top: 30px;
  margin-bottom: 30px;
}

.minhaimg{

  width: 150px;
  height: 200px;
  max-width: 150px;
  max-height: 200px;
  min-width: 150px;
  min-height: 200px;
  float:none;
  display:block;
  margin-top: 25px;
  margin-left:auto;
  margin-right:auto;

  background-color: rgba(255, 255, 255, 0.56);
}

.buscaplataforma{
  margin-top:10px;


}

.bucaplat{
  margin-top:5px;
}
