.meuid{
  font-family: "Times New Roman";
  font-size: 25px;
}

.tam{
  font-size: 25px;
}

.tam2{
  font-size: 20px;
  color: #311b92;
  font-weight: bold;
}

.buscando{
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.minhaimg{
  width: 200px;
  height: 200px;
}
